.welcomeText{
    height: 20vh;
}
.photo {
    height: 350px;
    width: 350px;
    margin: auto;
  }

.downarrow {
    height: 25px;
    width: 40px;
    margin: auto;
  }

.fade-in {
    transition: opacity 1s ease;
}

@media screen and (max-width: 600px) {
  .photo {
    height: 250px;
    width: 250px;
    margin: auto;
  }
}