.modal{
    background-color: rgba(255, 255, 255, 0.888);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    padding: 10vw;
    align-items: center;
    justify-content: center;
}
.modalContent{
    background-color: white;
    margin: 10px;
    padding: 1vw;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.44);
}
